
footer {
    
    background-color: $color-primario;
    margin-top: 100px;
    h1 {
        font-size: 20px;
        color: $color-secundario;
        display: flex;
        flex-direction: row;
        justify-content:right;
        align-items:center;
        margin-top: 1px;
    }

    form {
    
        display: flex;
        flex-direction: row;
        justify-content:right;
        align-items:center;
    
    }

}



@media (max-width:480px) {

    footer h1 {
        font-size: 15px;
        color: $color-secundario;
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items:center;
        
    }
    
    footer form {
        
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;

}

}

