
footer {
    
    background-color: rgb(7, 46, 7);
    margin-top: 100px;
}


   
footer h1 {
   
    font-size: 20px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content:right;
    align-items:center;
    margin-top: 1px;

}

footer form {
    
    display: flex;
    flex-direction: row;
    justify-content:right;
    align-items:center;

}

@media (max-width:480px) {

    footer h1 {
        font-size: 15px;
        color: black;
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items:center;
        
    }
    
    footer form {
        
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;

}

}

